.CardSide{
    width: 100vw;
    height: 75vh;
    display: flex;
}


.content{
    flex: 1 1 50%;
    background-color: rgb(255, 255, 255);
    padding: 0 3rem 0rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageCard{
    flex: 1 1 50%;
    background-size: cover;
    background-position: center;
}

.groupContent{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.8rem;
}

.groupContent > h2{
    font-size: clamp(2rem, 1.8vw + .7rem, 3.5rem);
    color: var(--Very-dark-desaturated-blue);
    text-transform: uppercase;
}

.groupContent p {
    color: #000000 !important;
    font-size: clamp(1rem, 1vw + .2rem, 2rem);
    line-height: 1.5rem;
    text-align: left;
}
.groupContent a {
    color:var(--Very-dark-desaturated-blue);
   width: fit-content;
   font-family: 'Fraunces', serif;
   font-weight: 900;
}

@media (max-width:768px){
    .CardSide{
        height: 90vh;
        flex-direction: column-reverse !important;
        margin-block: 1rem;
    }

    .content{
      height: 50vh;
      padding: 2rem;
    }
    
    .ImageCard{
        height: 50vh;
    }

    .groupContent{
        text-align: center;
    }
    .groupContent a{
        margin: 0 auto;
    }
    
}