@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan: hsl(167, 40%, 24%);
--Dark-blue: hsl(198, 62%, 26%);
--Dark-moderate-cyan: hsl(168, 34%, 41%);

--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  letter-spacing: 2px;
  scroll-behavior: smooth;
}
body{

  overflow-x: hidden;
}
h1, h2, h3{
  font-family: 'Poppins', sans-serif;
}
p{
  font-family: 'Barlow', sans-serif;
}

 a{
   font-family: 'Barlow', sans-serif;
 }
#header{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)), url(./images/desktop/law.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#divSeparator{
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  filter: brightness(1);
  background-color: rgba(0, 0, 0, 0.637);
  padding: .3rem 0;
}

.logo > h2{
  color: #fff;
  font-size: clamp(1rem, 1.4vw + .8rem, 2.7rem);
  letter-spacing: 2px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2rem 2.5rem;
  
}

header nav ul{
  display: flex;
  gap: 3rem;
}
header nav ul li a{
  color: #fff;
  font-size: clamp(1rem, .8vw + .5rem, 2.3rem);
}

#btnContact{
  background-color: #fff;
  padding: .8rem 1.2rem;
  border-radius: 1.8rem;
  color: var(--Very-dark-desaturated-blue);
  font-weight: 700;
  transition: filter .5s;
}

#btnContact:hover{
    filter: brightness(.8);
}

.titleBox{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 50vh;
  text-align: center;
}

.titleBox h1{
  font-size: clamp(2.7rem, 4vw + 1.2rem, 5rem);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.titleBox > h3 {
  font-size: clamp(1rem, 1.4vw + .3rem, 2.5rem);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.titleBox img{
  height: 15%;
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
}

.logo img{
  width: 120%;
  background-size: cover;
}

.CardBottomBox{
  display: flex;
  height: 75vh;
  width: 100vw;
}

.ClientTestimonials{
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #2b3538, #19191a);
}

.Testimonials{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2rem;
  width: 80%;
  height: 70%;
}

.ClientTestimonials h2{
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--Grayish-blue);
  opacity: .9;
}
.gallery{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  flex-direction: column;
  gap: 2.2rem;
  height: 100vh;

}

.titleGal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: .3rem 0;
  filter: brightness(1);
  background-color: rgba(0, 0, 0, 0.452);

}

.titleGal > h3{
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  text-shadow: 2px 1px 3px #000000;
  text-transform: uppercase;
  text-decoration: underline;
}

.imgAndP{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.imgAndP > img{
  width: 25%;
}
.imgAndP > p{
  color: black;
  text-align: center;
  width: 80%;
}


.gallery {
  background-image: url(./images/desktop/back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contentFooter{
  padding: 1rem 0;
  background-color: rgb(218, 214, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.contentFooter h2{
  opacity: .6;
}

.menu{
  display: flex;
  gap: 1rem;
}

.menu a{
  color: black;
  opacity: .6;
}

.menu a:hover{
  filter: brightness(2);
}

.socialMedias{
  display: flex;
  gap: 1rem;
}

.socialMedias img{
  cursor: pointer;
}

.MenuHamburguer{
  cursor: pointer;
  display: none;
  width: 1.3rem;
  height: 1.3rem;
  background-image: url(./images/menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menuDisplay{
  display: none;
  width: 100%;
  position: absolute;
  padding: 0rem 1.2rem 0 2.5rem;
  transition: all .7s;
}

@keyframes animation {
  from{
    opacity: .4;
  }
  to{
    opacity: 1;
  }
}

.menuDisplay ul{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 1rem;


}
.menuDisplay ul li a{
  color: #000000;
  font-size: clamp(1.1rem, 1.1vw + .4rem, 2.6rem)
}

.menuDisplay ul li:last-child{
  padding: .6rem 1.5rem;
  background-color: rgb(0, 0, 0);
  border-radius: 1.5rem;
  color: #fff !important;
}
.menuDisplay ul li:last-child > a{
  color: rgb(255, 255, 255);
}

.menuDisplay ul a:hover{
  border-bottom: 1px solid #d9d9d9;
}






@media (max-width:768px){
html{
  font-size: 85%;
}

#header{
  height: auto;
}

#arrow2 {
  display: none;
}

  #navMenu{
    display: none;
  }
  .MenuHamburguer{
    display: block;
  }
  .CardBottomBox{
    flex-direction: column;
   height: 90vh;
  }

  .gallery{
    height: auto;
    gap: 4rem;
    margin-bottom: 2rem;
  }



  .imgAndP > p{
    font-size: .6rem;
  }

  p{
    text-align: center !important;
  }
  

  .gallery img{
    width: 40%;
  }
  .Testimonials{
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .ClientTestimonials{
    height: auto;
    padding: 2rem 0;
  }
 
  .ClientTestimonials h2{
    text-align: center;
    font-size: 120%;
  }
 
}